

body{
    font-family: 'Abel', sans-serif;
    background-color: rgba(0,0,0,0.1); /* linear-gradient(rgba(0,0,0,0.6) rgba(0,0,0,0.1)); */
}

.page{
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.fotter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(100,100,100);
    color: white;

    
}

.fotter a{
    color: white;
    text-decoration: underline;
}

.symbolThomb{
    display: block;
    width: 100px;
    height: 100px;
}

#loading{
    display: none;
    /* position: relative;
    right: 20px; */
    background-color: white;
    border-left-color: white; 
}

.center{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

}

p{
    font-size: 0.8rem;
    
}

